//fonts 
@font-face {
    font-family: 'amaranth-regular';
    src: url('../fonts/Amaranth-Regular.ttf');
}

@font-face {
    font-family: 'amaranth-italic';
    src: url("../fonts/Amaranth-Italic.ttf");
}

@font-face {
    font-family: 'amaranth-boldItalic';
    src: url("../fonts/Amaranth-BoldItalic.ttf");
}

@font-face {
    font-family: 'amaranth-bold';
    src: url("../fonts/Amaranth-Bold.ttf");
}

//media query mixin
@mixin resp( $width ) {
	@if $width==480 {
		@media ( max-width: 480px ) {
			@content;
		}
	}
	@if $width==600 {
		@media ( max-width: 600px ) {
			@content;
		}
	}
	@if $width==768 {
		@media ( max-width: 768px ) {
			@content;
		}
	}
    @if $width==991 {
		@media ( max-width: 991px ) {
			@content;
		}
	}
	@if $width==1024 {
		@media ( max-width: 1024px ) {
			@content;
		}
	}
	@if $width==1140 {
		@media ( max-width: 1140px ) {
			@content;
		}
	}
}

//variables

$color1: #ffffff;
$color2: #000000;
$color3: #fed206;
$color4: #f9f9f9;

//fonts variables 

$amareg: 'amaranth-regular';
$amabold: 'amaranth-bold';
$amabolditalic: 'amaranth-boldItalic';
$amaitalic: 'amaranth-italic';

//animation 

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-12.5%);
    }
    50% {
        transform: translateY(-25%);
    }
    75% {
        transform: translateY(-12.5%);
    }
    100% {
        transform: translateY(0);
    }
    
}

//General Styles
*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: $amabold;
    font-size: 52px;
    color: $color2;
    line-height: normal;
    margin: 0;
    
    @include resp(768) {
        font-size: 42px;
    }
}

h2 {
    font-family: $amabold;
    font-size: 32px;
    color: $color2;
    line-height: normal;
    margin: 0;
}

h3 {
    font-family: $amabold;
    font-size: 26px;
    color: $color2;
    line-height: normal;
    margin: 0;
}

h4 {
    font-family: $amabold;
    font-size: 24px;
    color: $color2;
    line-height: normal;
    margin: 0;
}

h5 {
    font-family: $amabold;
    font-size: 20px;
    color: $color2;
    line-height: normal;
    margin: 0;
}

h6 {
    font-family: $amabold;
    font-size: 18px;
    color: $color2;
    line-height: normal;
    margin: 0;
}

p {
    font-family: $amareg;
    font-size: 16px;
    margin: 0;
    line-height: 0;
    color: $color2;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
    
    @include resp(768) {
        max-width: 100%;
        width: 100%;
        flex: auto;
    }
}

//Navbar
.navbar {
    padding: 8px;
    display: flex;
    max-height: 107px;
    background-color: $color1;
    
    @include resp(768) {
        max-height: 100%;
    }
    
    .navbar__input {
      display: none;
    }
    
    #nav {
        &:checked + .navbar__btn {
            transform: rotate(45deg);
        }
        
        &::checked + .navbar__btn i {
            background: #000;
            transition: transform 0.2s ease;
        }
        
        &:checked + .navbar__btn i:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
        }
        
        &:checked + .navbar__btn i:nth-child(2) {
            opacity: 0;
        }
        
        &:checked + .navbar__btn i:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
        }
        
        &:checked ~ .navbar__wrapper {
            z-index: 9990;
            opacity: 1;
        }
        
        &:checked ~ .navbar__wrapper ul li a {
            opacity: 1;
            transform: translateX(0);
        }
        
    }
    
    .navbar__logo {
        display: inline-flex;
        padding: 20px 0;
        
        a {
            span {
                font-family: $amabold;
                font-size: 30px;
                color: $color2;
            }
        }
    }
    
    .navbar__wrapper {
        display: inline-flex;
        margin-left: auto;
        
        @include resp(768) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
        }
        
        ul {
            @include resp(768) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
            
            li {
                display: inline-block;
                padding: 6px 0;
                border-bottom: 2px solid transparent;
                border-top: 2px solid transparent;
                
                &:hover {
                    border-bottom: 2px solid $color2;
                }
                
                &:not(:first-child) {
                    margin-left: 38px;
                }
                
                &:last-child {
                    margin-right: 24px;
                }
                
                a {
                    display: inline-block;
                    font-family: $amareg;
                    color: $color2;
                    font-size: 20px;
                    
                    
                    @include resp(768) {
                        padding: 10px 24px;
                        opacity: 0;
                        color: $color2;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        transform: translateX(-20px);
                        transition: all 0.2s ease;
                    }
                }
                
                @include resp(768) {
                    display: block;
                    width: 100%;
                    text-align: right;
                    margin-bottom: 10px;
                    
                    &:nth-child(1) a {
                        transition-delay: 0.2s;
                    }
                    
                    &:nth-child(2) a {
                        transition-delay: 0.3s;
                    }
                    
                    &:nth-child(3) a {
                        transition-delay: 0.4s;
                    }
                    
                    &:nth-child(4) a {
                        transition-delay: 0.5s;
                    }
                    
                    &:not(:first-child) {
                        margin-left: 0;
                  }
                }
            }
        }
    }
    
    .navbar__btn {
        @include resp(768) {
            position: absolute;
            right: 10px;
            top: 25px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;   
        }
        
        i {
            @include resp(768) {
                display: block;
                width: 20px;
                height: 2px;
                background: #000;
                border-radius: 2px;
                margin-left: 14px;
                
                &:nth-child(1) {
                    margin-top: 16px;
              }
                
                &:nth-child(2) {
                    margin-top: 4px;
                    opacity: 1;
              }
                
                &:nth-child(3) {
                    margin-top: 4px;
                }
            }
        }
    }
}

.mainBanner {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../images/beans-chopping-board-food-616358%20(1).jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid $color3;
    padding: 100px 0 30px 0;
    
    &:before {
        content: url("../images/arrow.png");
        position: absolute;
        width: 40px;
        height: 40px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    
    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .mainBanner__heading--main {
            color: $color1;
            margin: 60px 0 10px 0;
            text-transform: uppercase;
        }
        
        .mainBanner__heading--sub {
            color: $color1;
            margin: 0 0 60px 0;
            text-transform: uppercase;
        }
        
        .mainBanner__link {
            font-family: $amareg;
            font-size: 20px;
            color: $color1;
            margin: 70px 0 0 0;
            animation: jump 1.5s linear infinite;
            cursor: pointer;
            
            &:hover {
                color: $color3;
            }
        }
    }
}

.aboutSection {
    padding: 50px 0 40px 0;
    
    .wrapper {
        flex-direction: column;
        align-items: center;
        
        .aboutSection__heading--main {
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }
        
        .aboutSection__heading--sub {
            text-transform: uppercase;
            margin: 0 0 40px 0;
        }
        
        .aboutSection__wrapper {
            padding: 10px 50px 10px;
            
            .aboutSection__ico {
                width: 120px;
                height: auto;
                margin: 0 0 20px 0;
            }
            
            h6 {
                font-family: $amabolditalic;
            }
        }
    }
}

.subscribeSection {
    padding: 50px 0 0 0;
     background-color: $color4;
    
    .wrapper {
        flex-direction: column;
        align-items: center;
        
        .subscribeSection__heading {
            text-transform: uppercase;
        }
        
        .subscribeSection__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: 50px auto;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
            border: none;
            border-radius: 10px;
            padding: 30px 10px;
            background-color: $color1;
            
            .subscribeSection__cardHeading {
                max-width: 400px;
                margin: 0 auto 15px;
            }
            
            .subscribeSection__cardInputLabel {
                display: block;
                font-family: $amareg;
                font-size: 16px;
                color: $color2;
                margin: 10px 0;
            }
        }
    }
}