@font-face {
  font-family: 'amaranth-regular';
  src: url("../fonts/Amaranth-Regular.ttf"); }
@font-face {
  font-family: 'amaranth-italic';
  src: url("../fonts/Amaranth-Italic.ttf"); }
@font-face {
  font-family: 'amaranth-boldItalic';
  src: url("../fonts/Amaranth-BoldItalic.ttf"); }
@font-face {
  font-family: 'amaranth-bold';
  src: url("../fonts/Amaranth-Bold.ttf"); }
@keyframes jump {
  0% {
    transform: translateY(0%); }
  25% {
    transform: translateY(-12.5%); }
  50% {
    transform: translateY(-25%); }
  75% {
    transform: translateY(-12.5%); }
  100% {
    transform: translateY(0); } }
*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%; }

html {
  scroll-behavior: smooth; }

h1 {
  font-family: "amaranth-bold";
  font-size: 52px;
  color: #000000;
  line-height: normal;
  margin: 0; }
  @media (max-width: 768px) {
    h1 {
      font-size: 42px; } }

h2 {
  font-family: "amaranth-bold";
  font-size: 32px;
  color: #000000;
  line-height: normal;
  margin: 0; }

h3 {
  font-family: "amaranth-bold";
  font-size: 26px;
  color: #000000;
  line-height: normal;
  margin: 0; }

h4 {
  font-family: "amaranth-bold";
  font-size: 24px;
  color: #000000;
  line-height: normal;
  margin: 0; }

h5 {
  font-family: "amaranth-bold";
  font-size: 20px;
  color: #000000;
  line-height: normal;
  margin: 0; }

h6 {
  font-family: "amaranth-bold";
  font-size: 18px;
  color: #000000;
  line-height: normal;
  margin: 0; }

p {
  font-family: "amaranth-regular";
  font-size: 16px;
  margin: 0;
  line-height: 0;
  color: #000000; }

a {
  text-decoration: none;
  font-family: "amaranth-regular";
  font-size: 16px; }
  a:focus {
    outline: 1px dashed #fed206; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.col-6 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .col-6 {
      max-width: 100%;
      width: 100%;
      flex: auto; } }

.navbar {
  padding: 8px;
  display: flex;
  max-height: 107px;
  background-color: #ffffff; }
  @media (max-width: 768px) {
    .navbar {
      max-height: 100%; } }
  .navbar .navbar__input {
    display: none; }
  .navbar #nav:checked + .navbar__btn {
    transform: rotate(45deg); }
  .navbar #nav::checked + .navbar__btn i {
    background: #000;
    transition: transform 0.2s ease; }
  .navbar #nav:checked + .navbar__btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg); }
  .navbar #nav:checked + .navbar__btn i:nth-child(2) {
    opacity: 0; }
  .navbar #nav:checked + .navbar__btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg); }
  .navbar #nav:checked ~ .navbar__wrapper {
    z-index: 9990;
    opacity: 1; }
  .navbar #nav:checked ~ .navbar__wrapper ul li a {
    opacity: 1;
    transform: translateX(0); }
  .navbar .navbar__logo {
    display: inline-flex;
    padding: 20px 0; }
    .navbar .navbar__logo a span {
      font-family: "amaranth-bold";
      font-size: 30px;
      color: #000000; }
  .navbar .navbar__wrapper {
    display: inline-flex;
    margin-left: auto; }
    @media (max-width: 768px) {
      .navbar .navbar__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease; } }
    @media (max-width: 768px) {
      .navbar .navbar__wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; } }
    .navbar .navbar__wrapper ul li {
      display: inline-block;
      padding: 6px 0;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent; }
      .navbar .navbar__wrapper ul li:hover {
        border-bottom: 2px solid #000000; }
      .navbar .navbar__wrapper ul li:not(:first-child) {
        margin-left: 38px; }
      .navbar .navbar__wrapper ul li:last-child {
        margin-right: 24px; }
      .navbar .navbar__wrapper ul li a {
        display: inline-block;
        font-family: "amaranth-regular";
        color: #000000;
        font-size: 20px; }
        @media (max-width: 768px) {
          .navbar .navbar__wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease; } }
      @media (max-width: 768px) {
        .navbar .navbar__wrapper ul li {
          display: block;
          width: 100%;
          text-align: right;
          margin-bottom: 10px; }
          .navbar .navbar__wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s; }
          .navbar .navbar__wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s; }
          .navbar .navbar__wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s; }
          .navbar .navbar__wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s; }
          .navbar .navbar__wrapper ul li:not(:first-child) {
            margin-left: 0; } }
  @media (max-width: 768px) {
    .navbar .navbar__btn {
      position: absolute;
      right: 10px;
      top: 25px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%; } }
  @media (max-width: 768px) {
    .navbar .navbar__btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px; }
      .navbar .navbar__btn i:nth-child(1) {
        margin-top: 16px; }
      .navbar .navbar__btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1; }
      .navbar .navbar__btn i:nth-child(3) {
        margin-top: 4px; } }

.mainBanner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../images/beans-chopping-board-food-616358%20(1).jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #fed206;
  padding: 100px 0 30px 0; }
  .mainBanner:before {
    content: url("../images/arrow.png");
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%); }
  .mainBanner .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainBanner .wrapper .mainBanner__heading--main {
      color: #ffffff;
      margin: 60px 0 10px 0;
      text-transform: uppercase; }
    .mainBanner .wrapper .mainBanner__heading--sub {
      color: #ffffff;
      margin: 0 0 60px 0;
      text-transform: uppercase; }
    .mainBanner .wrapper .mainBanner__link {
      font-family: "amaranth-regular";
      font-size: 20px;
      color: #ffffff;
      margin: 70px 0 0 0;
      animation: jump 1.5s linear infinite;
      cursor: pointer; }
      .mainBanner .wrapper .mainBanner__link:hover {
        color: #fed206; }

.aboutSection {
  padding: 50px 0 20px 0; }
  .aboutSection .wrapper {
    flex-direction: column;
    align-items: center; }
    .aboutSection .wrapper .aboutSection__heading--main {
      text-transform: uppercase;
      margin: 0 0 10px 0; }
    .aboutSection .wrapper .aboutSection__heading--sub {
      text-transform: uppercase;
      margin: 0 0 40px 0; }
    .aboutSection .wrapper .aboutSection__wrapper {
      padding: 10px 50px 30px; }
      .aboutSection .wrapper .aboutSection__wrapper .aboutSection__ico {
        width: 120px;
        height: auto;
        margin: 0 0 20px 0; }
      .aboutSection .wrapper .aboutSection__wrapper h6 {
        font-family: "amaranth-boldItalic"; }

.subscribeSection {
  padding: 50px 0 0 0;
  background-color: #f9f9f9; }
  .subscribeSection .wrapper {
    flex-direction: column;
    align-items: center; }
    .subscribeSection .wrapper .subscribeSection__heading {
      text-transform: uppercase; }
    .subscribeSection .wrapper .subscribeSection__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 50px auto;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 10px;
      padding: 70px 10px;
      background-color: #ffffff; }
      @media (max-width: 600px) {
        .subscribeSection .wrapper .subscribeSection__card {
          width: 100%; } }
      .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardHeading {
        max-width: 390px;
        margin: 0 auto 10px; }
      .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardInputLabel {
        display: block;
        font-family: "amaranth-regular";
        font-size: 16px;
        color: #000000;
        margin: 15px 0; }
      .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardInput {
        border: 2px solid transparent;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        padding: 5px;
        font-family: "amaranth-regular";
        font-size: 14px;
        outline: none;
        width: 250px;
        margin: 0 auto; }
        .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardInput::placeholder {
          opacity: 0.6; }
        .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardInput:focus:invalid {
          border: 2px solid red; }
        .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardInput:required:valid {
          background: #ffffff url(../images/check.png);
          background-repeat: no-repeat;
          background-position: 96% center;
          padding-right: 35px; }
      .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardSubmit {
        display: block;
        border: 2px solid transparent;
        margin: 30px auto 0;
        padding: 10px 30px;
        font-family: "amaranth-regular";
        font-size: 16px;
        cursor: pointer;
        background-color: #fed206;
        border-radius: 30px;
        color: #ffffff; }
        .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardSubmit:hover {
          background-color: #ffffff;
          color: #fed206;
          border: 2px solid #fed206; }
        .subscribeSection .wrapper .subscribeSection__card .subscribeSection__cardSubmit:focus {
          outline: 1px dashed #fed206; }

.footer {
  padding: 15px 0;
  background-color: #000000; }
  .footer .wrapper {
    justify-content: center; }
    .footer .wrapper .footer__nav {
      display: inline-flex;
      align-items: center;
      list-style: none;
      width: 50%;
      margin: 10px 0; }
      .footer .wrapper .footer__nav li a {
        color: #ffffff;
        margin: 0 15px 0 0; }
        .footer .wrapper .footer__nav li a:hover {
          color: #fed206; }
    .footer .wrapper .socialIcons {
      display: inline-flex;
      justify-content: flex-end;
      width: 50%;
      margin: 10px 0; }
      .footer .wrapper .socialIcons .socialIcons__ico {
        width: 25px;
        height: 25px;
        margin: 0 15px 0 0; }
        .footer .wrapper .socialIcons .socialIcons__ico:hover {
          transform: translateY(-15%); }
    .footer .wrapper .footer__copyright {
      margin: 10px 0 0 0;
      font-size: 12px;
      color: #ffffff; }
      .footer .wrapper .footer__copyright a {
        font-size: 12px;
        color: #fed206; }
