*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

.navbar {
  padding: 8px;
  display: flex;
  max-height: 107px;
  background-color: khaki;
  transition: all 1s ease-in-out; }
  @media (max-width: 768px) {
    .navbar {
      max-height: 100%; } }
  .navbar .navbar__input {
    display: none; }
  .navbar #nav:checked + .navbar__btn {
    transform: rotate(45deg); }
  .navbar #nav::checked + .navbar__btn i {
    background: #000;
    transition: transform 0.2s ease; }
  .navbar #nav:checked + .navbar__btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg); }
  .navbar #nav:checked + .navbar__btn i:nth-child(2) {
    opacity: 0; }
  .navbar #nav:checked + .navbar__btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg); }
  .navbar #nav:checked ~ .navbar__wrapper {
    z-index: 9990;
    opacity: 1; }
  .navbar #nav:checked ~ .navbar__wrapper ul li a {
    opacity: 1;
    transform: translateX(0); }
  .navbar .navbar__logo {
    display: inline-flex;
    padding: 20px 0; }
    .navbar .navbar__logo a span {
      font-size: 30px; }
  .navbar .navbar__wrapper {
    display: inline-flex;
    margin: auto; }
    @media (max-width: 768px) {
      .navbar .navbar__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease; } }
    @media (max-width: 768px) {
      .navbar .navbar__wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; } }
    .navbar .navbar__wrapper ul li {
      display: inline-block;
      padding: 6px 0;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent; }
      .navbar .navbar__wrapper ul li:hover {
        border-bottom: 2px solid black; }
      .navbar .navbar__wrapper ul li:not(:first-child) {
        margin-left: 38px; }
      .navbar .navbar__wrapper ul li:last-child {
        margin-right: 24px; }
      .navbar .navbar__wrapper ul li a {
        display: inline-block; }
        @media (max-width: 768px) {
          .navbar .navbar__wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease; } }
      @media (max-width: 768px) {
        .navbar .navbar__wrapper ul li {
          display: block;
          width: 100%;
          text-align: right;
          margin-bottom: 10px; }
          .navbar .navbar__wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s; }
          .navbar .navbar__wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s; }
          .navbar .navbar__wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s; }
          .navbar .navbar__wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s; }
          .navbar .navbar__wrapper ul li:not(:first-child) {
            margin-left: 0; } }
  @media (max-width: 768px) {
    .navbar .navbar__btn {
      position: absolute;
      right: 10px;
      top: 30px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%; } }
  @media (max-width: 768px) {
    .navbar .navbar__btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px; }
      .navbar .navbar__btn i:nth-child(1) {
        margin-top: 16px; }
      .navbar .navbar__btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1; }
      .navbar .navbar__btn i:nth-child(3) {
        margin-top: 4px; } }

/*# sourceMappingURL=styles.css.map */
